html
  head
    title New Playlist
    link(rel="stylesheet", href="/dist/style.css")
  body
    .container
      .title-box(class="flex-box")
        h1 New PlayShare Created!
        p PlayShare ID: #{plstid} | Origin URL: #{origin}
      .info-box(class="flex-box")
        h2 Send Your PlayShare to Friends! 
        p <a href="https://playshare.com/ps/#{plstid}">https://playshare.com/share/#{plstid}</a> <br> or <br> <a href="https://plyshre.io/#{plstid}">https://plyshre.io/#{plstid}</a>
    .copyright-notice
      p Made with ❤ by WhizBangPop | PlayShare is licenced under AGPL-v3